
<article class="hero--visuel">
    <picture>
        <!-- images/assets/2024/aqua_20S/aqua_20S_hero_desk.webp?$staticlink$ -->
        <source srcset="@@lien-img-desk" media="(min-width: 1023px)" />
        <source srcset="@@lien-img-tab" media="(min-width: 767px)" />
        <img src="@@lien-img-mob" alt="@@alt" />
    </picture>
    <div class="hero--visuel__container">
        <div class="texte-container">
            <div class="title-container">
                <!-- font-sophillia -->
                <h2 class="font-barlow"> 
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta font-barlow">
                @@text-link
            </p>
            <!-- <p class="cta font-barlow">
                @@text-link
            </p> -->
        </div>
    </div>
</article>