
<article class="hero">
    <picture>
        <source srcset="anim/generique/noel2023/2023_08_NOEL-coffret-cadeaux_HP.jpg?$staticlink$" media="(min-width: 1023px)" />
        <source srcset="anim/generique/noel2023/2023_08_NOEL-coffret-cadeaux_HP_TAB.jpg?$staticlink$" media="(min-width: 767px)" />
        <img src="anim/generique/noel2023/2023_08_NOEL-coffret-cadeaux_HP_MOB.jpg?$staticlink$" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <h2 class="font-sophillia">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="ctas-container">
            <a class="cta" href="$url('Search-Show','cgid','@@link')$">
                @@text-link
            </a>
        </div>
    </div>
</article>