<div class="homepromo">
    <div class="homepromo__content">
        <h2 class="font-barlow title--custom">
            @@title
        </h2>
        <h3 class="font-barlow subtitle--custom">
            @@subtitle
        </h3>
        <p class="cta font-barlow">
            @@text-link
        </p>
    </div>
    <picture class="homepromo__image">
        <source srcset="images/assets/2024/offre_tisaniere/offre_tisaniere_homepromo_tab.webp?$staticlink$"
                media="(min-width: 767px)" />
            <img src="images/assets/2024/offre_tisaniere/offre_tisaniere_homepromo.webp?$staticlink$" alt="@@alt" />
    </picture>
</div>