
<article class="hero">
    <picture>
        <source srcset="images/assets/2024/tea_caddy_us/tea_caddy_us_hero_desk.webp?$staticlink$" media="(min-width: 1023px)" />
        <source srcset="images/assets/2024/tea_caddy_us/tea_caddy_us_hero_tab.webp?$staticlink$" media="(min-width: 767px)" />
        <img src="images/assets/2024/tea_caddy_us/tea_caddy_us_hero_mob.webp?$staticlink$" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <!-- font-sophillia -->
                <h2 class="font-barlow"> 
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
                <img src="images/assets/2024/tea_caddy_us/pastille-bio-2.webp?$staticlink$" width="60px" alt="pastille bio">
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta font-barlow">
                @@text-link
            </p>
            <!-- <p class="cta font-barlow">
                @@text-link
            </p> -->
        </div>
    </div>
</article>