.x-button {
      border: 2px solid currentColor;
      padding: 0.8em 2.5em;
      font-weight: 600;

      @media screen and (min-width: 1024px) {
            padding: 0.8em 2em;
      }

      transition-duration: 250ms;
      text-decoration: none;
      z-index: 1;
      position: relative;

      // a:hover &,
      &:hover {
            transition-duration: 250ms;
            text-decoration: none !important;
            background-color: currentColor;

            span {
                  color: white;
            }
      }

      // a:hover &:before,
      &:hover:before,
      &:focus:before {
            opacity: 1;
            transform: scaleX(1);
      }

      &:before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0;
            background-color: currentColor;
            transform: scaleX(0);
            transform-origin: left top;
            pointer-events: none;
            transition: transform 0.2s, opacity 0.2s;
      }
}

.x-button-redSoldes {
      border: 2px solid #ff4539;
      padding: 0.8em 2.5em;
      font-weight: 600;

      @media screen and (min-width: 1024px) {
            padding: 0.8em 2em;
      }

      transition-duration: 250ms;
      text-decoration: none;
      z-index: 1;
      position: relative;
      background-color: #ff4539;
      color: white;

      &:before {
            opacity: 1;
            transform: scaleX(1);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: #ff4539;
            transform-origin: left top;
            pointer-events: none;
            transition: transform 0.2s, opacity 0.2s;
      }
}