
<article class="hero">
    <picture>
        <source srcset="anim/ope/INFUSION_ELYSEE_2023_HP.jpg?$staticlink$" media="(min-width: 1023px)" />
        <source srcset="anim/ope/INFUSION_ELYSEE_2023_HP_TAB.jpg?$staticlink$" media="(min-width: 767px)" />
        <img src="anim/ope/INFUSION_ELYSEE_2023_HP_MOBILE.jpg?$staticlink$" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <h2 class="font-sophillia title--infusion-elysee">
                    @@title
                </h2>
                <h3 class="font-barlow subtitle--infusion-elysee">
                    @@subtitle
                </h3>
                <div class="pastille--new">
                    <img src="anim/ope/new.png?$staticlink$" alt="@@alt-new" />
                </div>
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta">
                @@text-link
            </p>
        </div>
    </div>
</article>