<div class="homepromo">
    <div class="homepromo__content @@class">
        <h2 class="font-barlow title--custom">
            @@title
        </h2>
        <h3 class="font-barlow subtitle--custom">
            @@subtitle
        </h3>
        <p class="cta font-barlow">
            @@text-link
        </p>
    </div>
    <picture class="homepromo__image">
        <source srcset="@@link-img-tab"
                media="(min-width: 767px)" />
            <img src="@@link-img" alt="@@alt" />
    </picture>
</div>
