
<article class="hero">
    <picture>
        <source srcset="@@link-img-desk" media="(min-width: 1023px)" />
        <source srcset="@@link-img-tab" media="(min-width: 767px)" />
        <img src="@@link-img-mob" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <h2 class="font-barlow title-container__title">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta">
                @@text-link
            </p>
        </div>
    </div>
</article>


