<div class="banner">
    <picture>
        <source srcset="images/assets/2024/cloture_fid/cloture_fid_hero_desk.webp?$staticlink$" media="(min-width: 1023px)" />
        <img src="images/assets/2024/cloture_fid/cloture_fid_hero_mob.webp?$staticlink$" alt="@@alt" />
    </picture>
    <div class="banner__container">
        <div class="texte__container">
            <h2 class="font-barlow">
                @@title
            </h2>
            <p class="font-barlow">
                @@body
            </p>
        </div>
        <p class="cta-button">
            @@text-link
        </p>
    </div>
</div>