<div class="homepromo">
    <div class="homepromo__content">
        <h2 class="font-barlow title--baisse-des-prix">
            @@title
        </h2>
        <h3 class="font-barlow subtitle--baisse-des-prix">
            @@subtitle
        </h3>
        <p class="cta font-barlow">
            @@text-link
        </p>
    </div>
    <picture class="homepromo__image">
        <source srcset="images/assets/2024/baisse_des_prix/2024-01-baisse-de-prix_HOME_PROMO.jpg?$staticlink$"
                media="(min-width: 767px)" />
            <img src="images/assets/2024/baisse_des_prix/2024-01-baisse-de-prix_HOME_PROMO_tab.jpg?$staticlink$" alt="@@alt" />
    </picture>
</div>