<article class="hero">
    <section class="hero__container container">
        <div class="container__texte">
            <h2 class="font-barlow">
                @@title
            </h2>
            <div class="reduction">
                <p class="reduction__texte">@@until</p>
                <p class="reduction__number">@@number</p>
            </div>
            <h3 class="font-barlow">
                @@subtitle
            </h3>
        </div>
        <div class="hero__ctas-container">
            <a class="cta--hero" href="@@link1">
                @@texte-link1
            </a>
            <a class="cta--hero" href="@@link2">
                @@texte-link2
            </a>
        </div>
    </section>
    <section class="hero__picture">
        <picture>
            <source srcset="hero/2023/vente_privilege/vente_privilege_hero_desk.webp?$staticlink$"
                media="(min-width: 1023px)" />
            <source srcset="hero/2023/vente_privilege/vente_privilege_hero_tab.webp?$staticlink$"
                media="(min-width: 767px)" />
            <img src="hero/2023/vente_privilege/vente_privilege_hero_mob.webp?$staticlink$" alt="@@alt" />
        </picture>
    </section>
</article>