
<article class="hero">
    <picture>
        <source srcset="images/assets/2024/rituel_minceur/rituel_minceur_hero_desk.webp?$staticlink$" media="(min-width: 1023px)" />
        <source srcset="images/assets/2024/rituel_minceur/rituel_minceur_hero_tab.webp?$staticlink$" media="(min-width: 767px)" />
        <img src="images/assets/2024/rituel_minceur/rituel_minceur_hero_mob.webp?$staticlink$" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <p class="pastille-ap font-barlow">
                    @@text-pastille
                </p>
                <h2 class="font-sophillia">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta">
                @@text-link
            </p>
        </div>
    </div>
    <div class="pastille--proven-efficacy @@class-pastille-efficacite">
        <img src="@@pastille-efficacite" alt="@@alt-efficacite" />
    </div>
</article>