
<article class="hero">
    <picture>
        <source srcset="images/assets/2024/thes_gourmands/thes-gourmands_HP_DESK.webp?$staticlink$" media="(min-width: 1023px)" />
        <source srcset="images/assets/2024/thes_gourmands/thes-gourmands_HP_TAB.webp?$staticlink$" media="(min-width: 767px)" />
        <img src="images/assets/2024/thes_gourmands/thes-gourmands_HP_MOB.webp?$staticlink$" alt="@@alt" />
    </picture>
    <div class="hero__container">
        <div class="texte-container">
            <div class="title-container">
                <h2 class="font-sophillia">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="ctas-container">
            <p class="cta">
                @@text-link
            </p>
        </div>
    </div>
    <p class="font-barlow bottom-texte">
        @@bottom-texte
    </p>
</article>