p {
    font-size: 14px;
    font-weight: 400;
    color: black;
    font-family: Verdana, sans-serif;
    line-height: 1.2em;
}

.title-2 {
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    font-family: Verdana, sans-serif;
}

.title-3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    font-family: Verdana, sans-serif;
}

.gras {
    font-size: 14px;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

.lien {
    font-size: 14px;
    color: #000000;
    font-family: Verdana, sans-serif;
}

.lien:hover {
    font-size: 14px;
    color: #9b090d;
}

#bouton {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid #000;
    font-weight: 800;
    color: #000;
    min-height: 42px;
    line-height: 1;
    padding: 19px 10px 17px;
    background: none;
    cursor: pointer;
    text-align: center;
}

#bouton:hover {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 800;
    color: rgb(255, 255, 255);
    min-height: 42px;
    line-height: 1;
    padding: 19px 10px 17px;
    background-color: #000;
    cursor: pointer;
    transition: color .20s ease-in-out, background .20s ease-in-out, border-color .30s ease-in-out;
}

.c-button {
    font-family: Verdana, sans-serif;
}

#bouton-mobile {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
    border: 2px solid #000;
    font-weight: 800;
    color: #000;
    min-height: 42px;
    line-height: 1;
    padding: 19px 30px 17px;
    background: none;
    cursor: pointer;
    text-align: center;
}

.c-blog-header {
    display: none;
}

.c-article-banner__social {
    display: none;
}

.c-article-banner__title {
    font-weight: 700;
}

.c-article-banner__image {
    display: none;
}

@media(max-width:630px) {
    #bouton {
        display: none;
    }

    #bouton-mobile {
        display: inline-block;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        color: black;
        font-family: Verdana, sans-serif;
        line-height: 1.3em;
    }

    #title-2 {
        font-size: 16px;
        font-weight: 800;
        font-family: Verdana, sans-serif;

    }

    #title-3 {
        font-size: 14px;
        font-weight: 700;
        font-family: Verdana, sans-serif;
    }

    .c-section-divider {
        font-size: 20px;
        font-weight: 600;
        font-family: Verdana, sans-serif;
    }

    .gras {
        font-size: 12px;
        font-weight: 700;
        font-family: Verdana, sans-serif;
    }
}

@media(min-width:630px) {
    #bouton {
        display: inline-block;
    }

    #bouton-mobile {
        display: none;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: black;
        font-family: Verdana, sans-serif;
        line-height: 1.5em;
    }

    #title-2 {
        font-size: 20px;
        font-weight: 800;
        font-family: Verdana, sans-serif;

    }

    #title-3 {
        font-size: 16px;
        font-weight: 700;
        font-family: Verdana, sans-serif;
    }

    .c-section-divider {
        font-size: 24px;
        font-weight: 600;
        font-family: Verdana, sans-serif;
    }

    .gras {
        font-size: 14px;
        font-weight: 700;
        font-family: Verdana, sans-serif;
    }

    .c-blog-header {
        display: block;
    }

    .c-article-banner__social {
        display: block;
    }
}