.hero {
    width: 100%;
    height: 100%;
    position: relative;

    picture {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1rem 3rem;

        @include min768() {
            padding: .8rem 2.3rem 3rem;
        }

        @include min1024() {
            padding: 1.2rem 2.6rem 3rem;
            justify-content: flex-start;
        }

        @include min1440() {
            padding: 2.5rem 5rem;
        }

        @include min1920() {
            padding: 5.5rem;
        }

        .texte-container {
            display: flex;
            height: 60%;
            width: 240px;

            @include min768() {
                width: 460px;
            }

            @include min1024() {
                margin-bottom: 4rem;
            }

            @include min1440() {
                width: 515px;
            }

            @include min1920() {
                width: 600px;
            }

            .title-container {
                display: flex;
                flex-direction: column;
                gap: .3rem;

                h2 {
                    font-size: 1.5rem;
                    text-align: left;
                    line-height: 1.1;
                    margin-bottom: 0;

                    @include min768() {
                        font-size: 40px;
                    }

                    @include min1024() {
                        font-size: 37px;
                    }

                    @include min1440() {
                        font-size: 3rem;
                    }
                }

                h3 {
                    text-transform: none;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 0.325px;
                    text-align: left;

                    @include min768() {
                        font-size: 20px;
                    }
                }
            }

            .price__container {
                height: 100%;
                .price__subcontainer {
                    top: 25%;
                    right: 4%;
                    position: absolute;
                    &.price-container--de {
                        p {
                            padding-left: 0;
                        }
                        @include min1920() {
                            right: 23%;
                        }
                        p {
                            padding-left: 0;
                        }
                    }

                    @include min768() {
                        top: 18%;
                        right: 15%;
                    }

                    @include min1024() {
                        top: 13%;
                        right: 19%;
                    }

                    @include min1440() {
                        right: 21%;
                    }

                    @include min1920() {
                        right: 24%;
                    }

                    .svg-container {
                        height: auto;
                        width: 50px;

                        @include min768() {
                            width: 60px;
                        }

                        @include min1024() {
                            width: 65px;
                        }

                        svg {
                            padding-right: 1rem;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    p {
                        padding-left: 1rem;
                        margin-bottom: .25rem;
                        font-size: .8rem;
                        font-weight: 600;
                        text-align: center;

                        @include min768() {
                            font-size: 20px;
                        }

                        @include min1024() {
                            padding-left: 1.2rem;
                        }

                        @include min1440() {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .ctas-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            flex-wrap: wrap;
            align-items: flex-start;

            @include min1024() {
                flex-direction: row;
            }

            .cta {
                margin-block: 0;
                width: auto;
                line-height: 10px;
                background-color: #141414;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                text-transform: uppercase;
                padding: 15px 25px;
                border: 1px solid #fff;
                transition: .2s ease-in;


                @include min768() {
                    padding: 15px 20px;
                    font-size: 1rem;
                    line-height: 13px;
                }

                @include min1024() {
                    font-size: 18px;
                }

                &:hover {
                    background-color: #fff;
                    color: #141414;
                }
            }
        }
    }

}

.push {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
        .text .cta {
            text-decoration: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5rem .5rem;

        @include min1024() {
            padding: 1.5rem 1rem;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        @include min1024() {
            gap: .1rem;
        }

        &__title {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            @include min1024() {
                gap: .5rem;
            }

            h2 {
                font-size: 21px;
                margin-bottom: 0;
                line-height: 1.1;
            }

            h3 {
                text-transform: none;
                font-size: .9rem;
                letter-spacing: normal;
                margin-bottom: 0;
                line-height: 1.15;
                font-weight: 500;

                @include min1024() {
                    font-size: 1rem;
                }

            }
        }

        .cta {
            text-decoration: underline;
            font-size: .9rem;
            font-weight: 600;
            color: #000;

            @include min1024() {
                font-size: 1rem;
            }
        }
    }

    &__price-container {
        position: absolute;
        bottom: 45%;
        right: 13%;

        &.push__price-container--de {
            right: 9%;

            @include min768() {
                right: 18%;
            }

            @include min1024() {
                right: 18%;
            }

            @include min1440() {
                right: 15%;
            }

            p {
                margin-bottom: .1rem;
                margin-left: 0;
            }
        }

        @include min768() {
            bottom: 47%;
            right: 23%;
        }

        @include min1024() {
            right: 21%;
        }

        @include min1440() {
            right: 19%;
        }

        p {
            margin-bottom: .1rem;
            margin-left: .85rem;
            font-weight: 600;
            text-align: center;
            color: #000;
        }

        .svg-container {
            width: 31px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}