<a href="@@link" class="push__text text">
    <div class="text__title">
        <h2 class="font-barlow">
            @@texte-h2
        </h2>
        <div class="reduction">
            <p class="reduction__texte">@@until</p>
            <p class="reduction__number @@class">@@number</p>
        </div>
        <div class="extra extra-container">
            <h4 class="font-barlow extra--bandeau">@@texte-extra</h4>
            <h4 class="font-barlow extra--pasbandeau">@@texte-extra2</h4>
        </div>
    </div>
    <div class="text__cta-container">
        <p class="cta--push">
            @@texte-link
        </p>
    </div>
</a>
<section class="push__picture">
    <img src="images/assets/2023/soldes/soldes_push.webp?$staticlink$" alt="@@alt" />
</section>