.fdm_2024 {
    width: 100%;
}

.bestsellers__title, .storytelling__title, .accessoires__title, .happy-ending__title, .the-infusions__title, .coffrets__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
}

.hero {
    padding-block: 1.5rem;
    @include min1024() {
        height: 323px;
        background-image: url('images/landing_page/2024/fdm/hero_image.webp?$staticlink$');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
    }
    &__container {
        @include min1024() {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
        line-height: 30px;
        @include min1024() {
            font-size: 3.5rem;
            color: #fff;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 1rem;
        letter-spacing: initial;
        text-align: center;
        text-transform: initial;
        @include min1024() {
            color: #fff;
        }
    }
    &__image {
        width: 100%;
        min-height: 243px;
        height: 30vh;
        margin-bottom: 1rem;
        @include min768() {
            height: 40vh;
        }
        @include min1024() {
            display: none;
        }
    }
    &__description {
        font-size: 14px;
        font-weight: 500;
        margin-inline: auto;
        width: 85%;
        margin-bottom: 0;
        text-align: center;
        @include min1024() {
            font-size: 1rem;
            color: #fff;
        }
    }
}

.product__button, .happy-ending__cta {
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 15px;
    margin-bottom: 0;
    padding: 12px 1rem;
}

.bestsellers {
    padding: 1.5rem 1rem;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    &__product {
        width: 47.2%;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 380px;

    &__description {
        color: #000;
    }
    &__price {
        color: #000;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        margin-bottom: .5rem;
        height: 207px;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    &__description {
        font-size: 1rem;
        line-height: 19px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__price {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: .5rem;
    }
    &__button {
        background-color: #fff;
        color: #000;
        cursor: pointer;
        transition: background .25s ease;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

}
.image-absolute {
    display: flex;
    position: relative;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.image-absolute--first .image-absolute__button {
        left: 5%;
        bottom: 15%;
    }
    &.image-absolute--second .image-absolute__button {
        right: 5%;
        top: 15%;
    }
    &__button {
        cursor: pointer;
        background-color: #fff;
        padding: 0.6rem .75rem;
        border-radius: 100px;
        display: block;
        position: absolute;
        transition: .25s all ease-in;
        &:hover {
            background-color: #000;
            path {
                fill: #fff;
            }
        }
    }
    
}

.custom {
    &__arrow {
        border: 1px solid black;
        width: 40px;
        height: 40px;
        background: white;
        opacity: 1;
    }
}

.storytelling {
    position: relative;
    width: 100%;
    padding-block: 1.5rem;
    &__image {
        width: 100%;
        height: 231px;
        @include min768() {
            height: 40vh;
            min-height: 231px;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: .5rem;
    }
    &__subtitle {
        letter-spacing: initial;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 1.5rem;
        line-height: 15px;
    }
    &__description {
        width: 90%;
        margin-inline: auto;
        font-weight: 500;
        font-size: 14px;
        margin-block: 1.5rem 0;
        text-align: center;
    }
}

.the-infusions {
    padding: 1.5rem 1rem;

}

.coffrets {
    padding: 1.5rem 1rem;
    &__title, &__description {
        text-align: center;
    }
    &__description {
        width: 90%;
        margin-inline: auto;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .product__image {
        width: 100%;
        height: 193px;
        @include min768() {
            height: 280px;
        }
    }
    &__product {
        width: 85%;
        height: auto;
        @include min768() {
            width: 75%;
        }
        &:first-child, &:last-child {
            align-self: flex-start;
        }
        &:nth-child(2) {
            align-self: flex-end;
            align-items: flex-end;
        }
    }
}

.accessoires {
    padding: 1.5rem 1rem;
    &__image {
        height: 207px;
    }
}
.happy-ending {
    background: 
        linear-gradient(to right, rgb(255, 255, 255, .5), rgb(255, 255, 255, .5)), 
        url('images/landing_page/2024/fdm/storytelling_image.webp?$staticlink$') no-repeat center;
    background-size: cover;
    height: 331px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1.5rem;
    &__title {
        margin-bottom: .5rem;
        text-align: center;
    }
    &__description {
        width: 60%;
        font-weight: 500;
        font-size: 14px;
        margin-block: 0 1.5re0;
        text-align: center;
        color: #000;
    }
    &__cta {
        color: #000;
        cursor: pointer;
    }
}