.fdm_2024 {
    width: 100%;
}

.bestsellers__title, .storytelling__title, .accessoires__title, .happy-ending__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
}

.product__button, .happy-ending__cta {
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 15px;
    margin-bottom: 0;
    padding: 12px 1rem;
}

.bestsellers {
    padding: 1.5rem 1rem;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }

    &__product {
        width: 47.2%;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__image {
        height: 207px;
        width: 100%;
        object-fit: cover;
        margin-bottom: .5rem;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    &__description {
        font-size: 1rem;
        line-height: 19px;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    &__price {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: .5rem;
    }
    &__cta {
        cursor: pointer;
    }

}
.image-absolute {
    position: relative;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &::after {
            content: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10.3125 3.25H8.25V2.6C8.25 1.91044 7.96027 1.24912 7.44454 0.761522C6.92882 0.273928 6.22935 0 5.5 0C4.77065 0 4.07118 0.273928 3.55546 0.761522C3.03973 1.24912 2.75 1.91044 2.75 2.6V3.25H0.6875C0.505164 3.25 0.330295 3.31848 0.201364 3.44038C0.072433 3.56228 0 3.72761 0 3.9V11.05C0 11.5672 0.217299 12.0632 0.604092 12.4289C0.990886 12.7946 1.51549 13 2.0625 13H8.9375C9.48451 13 10.0091 12.7946 10.3959 12.4289C10.7827 12.0632 11 11.5672 11 11.05V3.9C11 3.72761 10.9276 3.56228 10.7986 3.44038C10.6697 3.31848 10.4948 3.25 10.3125 3.25ZM4.125 2.6C4.125 2.25522 4.26987 1.92456 4.52773 1.68076C4.78559 1.43696 5.13533 1.3 5.5 1.3C5.86467 1.3 6.21441 1.43696 6.47227 1.68076C6.73013 1.92456 6.875 2.25522 6.875 2.6V3.25H4.125V2.6ZM9.625 11.05C9.625 11.2224 9.55257 11.3877 9.42364 11.5096C9.29471 11.6315 9.11984 11.7 8.9375 11.7H2.0625C1.88016 11.7 1.7053 11.6315 1.57636 11.5096C1.44743 11.3877 1.375 11.2224 1.375 11.05V4.55H2.75V5.2C2.75 5.37239 2.82243 5.53772 2.95136 5.65962C3.0803 5.78152 3.25516 5.85 3.4375 5.85C3.61984 5.85 3.7947 5.78152 3.92364 5.65962C4.05257 5.53772 4.125 5.37239 4.125 5.2V4.55H6.875V5.2C6.875 5.37239 6.94743 5.53772 7.07636 5.65962C7.2053 5.78152 7.38016 5.85 7.5625 5.85C7.74484 5.85 7.9197 5.78152 8.04864 5.65962C8.17757 5.53772 8.25 5.37239 8.25 5.2V4.55H9.625V11.05Z' fill='black'/%3E%3C/svg%3E ");;
            width: 11px;
            height: 13px;
            background-color: #fff;
            padding: 1rem;
            border-radius: 100px;
            display: block;
            position: absolute;
            right: 5%;
            top: 15%;
        }
    }
}

.storytelling {
    width: 100%;
    padding-block: 1.5rem;
    &__image {
        width: 100%;
        height: 231px;
    }
    &__title {
        text-align: center;
        margin-bottom: .5rem;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
    }
    &__description {
        width: 90%;
        font-weight: 500;
        font-size: 14px;
        margin-block: 1.5rem 0;
    }
}

.thes-infusions {
    padding: 1.5rem 1rem;

}

.accessoires {
    padding: 1.5rem 1rem;
}
.happy-ending {
    background-image: url('images/landing_page/2024/fdm/storytelling_image.webp?$staticlink$');
    background-color: #ffffff65;
    height: 365px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        margin-bottom: .5rem;
        text-align: center;
        margin-bottom: .5rem;
    }
    &__description {
        margin-bottom: 1.5rem;
        width: 60%;
        font-weight: 500;
        font-size: 14px;
        margin-block: 1.5rem 0;
    }
}