.privacy-policy_2024 {
    width: 100%;
    padding-block: 4rem;
    overflow: hidden;
}

.policy__title {
    padding-inline: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

    @include min1024() {
        padding-inline: 0;
        font-size: 2.3rem;
    }

    &::after {
        content: '';
        height: 1px;
        width: 100px;
        display: block;
        background-color: #000;
        margin: 1.5rem auto 0;
    }
}
.policy-paragraph-container {
    margin-block: 2.5rem;
    margin-inline: 1rem;
    @include min1440() {
        margin-inline: 0;
    }
    .policy__paragraph {
        margin: 0 auto;
        max-width: 75rem;
        font-size: 1rem;
        margin-bottom: .75rem;
        text-align: justify;
        .policy__title--center {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 2.5rem;
        }
        &:last-child {
            margin-bottom: 0rem;
        }
        &.policy__paragraph--last {
            margin-bottom: 1rem;
            @include min1024() {
                margin-bottom: 1.5rem;
            }
        }
        a {
            color: -webkit-link;
            text-decoration: underline;
    
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.container-accordeon {
    max-width: 75rem;
    margin: 0 auto;

    &__single {
        &:first-child {
            border-bottom: 1px solid #E4E4E4;
            border-top: 1px solid #E4E4E4;
        }

        border-bottom: 1px solid #E4E4E4;

        .single__title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1rem;
            position: relative;
            cursor: pointer;

            &:hover {
                background: rgb(247,247,247);
            }

            &--toggled {
                &+.single__texte-container {
                    height: 100%;
                    opacity: 1;
                    margin-block: .5rem;
                }

                .single__svg {
                    transform: rotate(90deg);
                }
            }
            .single__title {
                font-weight: 600;
                font-size: 18px;
                color: #000;
                margin-bottom: 0;
                width: 80%;
    
                @include min1024() {
                    font-size: 1.2rem;
                    width: auto;
                }
            }
    
            .single__svg {
                display: flex;
                height: 20px;
                width: 20px;
                transition: transform .3s ease;

                @include min1024() {
                    font-size: 1.2rem;
                    width: auto;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .single__texte-container {
            height: 0;
            opacity: 0;
            transition: height .2s ease-in, opacity .2s ease;
            
            a {
                z-index: 3;
                position: relative;
                color: -webkit-link;
                text-decoration: underline;
        
                &:hover {
                    text-decoration: none;
                }
            }
            .single__texte {
                font-size: 1rem;
                margin-bottom: .75rem;
                text-align: justify;
                strong {
                    font-weight: 600;
                }
                &:last-child {
                    margin-bottom: 1.5rem;
                }
            }
            .accordeon__h3 {
                font-size: 1.15rem;
                font-weight: 600;
                text-transform: none;
                letter-spacing: normal;
                @include min1024() {
                    font-size: 1.25rem;
                }
            }
            .accordeon__h4 {
                font-size: 1.1rem;
                font-weight: 500;
            }
            .single__ul {
                list-style-position: inside;
                list-style-type: circle;
                margin-bottom: .5rem;
                .single__li {
                    font-size: 1rem;
                    text-align: justify;
                }
            }
            .single__container-center {
                .single__texte {
                    margin: 0 auto;
                    text-align: center;
                    margin-block: .5rem 1rem;
                }

            }
        }

    }
}

.tableau {
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-collapse: inherit;
    margin: auto;
    border-radius: 5px;
    border-spacing: initial;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    caption {
        display: none;
    }
    &__header {
        text-align: left;
        font-size: 1rem;
        margin-bottom: 0;
        th {
            border-bottom: 1px solid #d7d7d7;
            border-left: 1px solid #d7d7d7;
        }
        strong {
            font-weight: 600;
        }
        background-color: #f6f6f4;
        .header-host {
            width: 25%;
        }
        .header-cookies {
            min-width: 75px;
            width: 50%;
        }
        .header-type {
            min-width: 75px;
        }
        th {
            padding: 12px 15px;
        }
    }
    &__body {
        font-size: 1rem;
        margin-bottom: 0;
        strong {
            font-weight: 600;
        }
    }
    &__case {
        td {  
            border-bottom: .5px solid #d7d7d7;
            border-left: .5px solid #d7d7d7;
            padding: 12px 15px;
        }
    }
}