$color_1: var(--color-text);
$color_2: var(--color-title);
$background-color_1: var(--color-bg);

:root {
  --color-text: #4A4A4A;
  --color-bg: #ED7C7C1F;
  --color-title: #ED7C7C;
}

.we_love_customers {
  width: 100%;
}

.programme_parrainage_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $color_1;
  gap: 19px;
  padding: 20px;
  @media screen and (min-width: 1024px) {
    padding: 0px;
  }

  .h2_programme {
    font-size: 30px;
    line-height: 35.67px;
    font-weight: 400;
    color: $color_2;
    margin-top: 50px;
    @media screen and (min-width: 1024px) {
      font-size: 48px;
      line-height: 56.5px;
    }
  }

  .h2_slogan {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: $color_1;
    @media screen and (min-width: 1024px) {
      font-size: 24px;
      line-height: 28.8px;
    }
  }

  .question_text {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .p_description_offre {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .p_modalite_programme {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

.step_parrainage {
  background-color: $background-color_1;
  margin: 0 calc(0px - (100vw - 100%) / 2);
  display: flex;
  justify-content: center;
  padding: 30px;
  color: $color_1;
  @media screen and (min-width: 1024px) {
    padding: 50px;
  }

  .step_parrainage_container {
    display: flex;
    flex-direction: column;
    width: 680px;
    color: $color_1;
  }

  ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    padding-block: 35px 0;
  }

  .text_container {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    @media screen and (min-width: 1024px) {
      font-size: 16px;
      line-height: 25px;
    }
  }

  .li--before {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    @media screen and (min-width: 1024px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .h3_step_parrainage {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
    text-transform: none;
    color: $color_1;
    @media screen and (min-width: 1024px) {
      font-size: 22px;
      line-height: 26.4px;
    }
  }

  li {
    display: flex;
    gap: 19px;

    .li--number {
      font-size: 22px;
      font-weight: 600;
      line-height: 26.4px;
      color: $color_2;
      @media screen and (min-width: 1024px) {
        font-size: 28px;
        line-height: 33.6px;
      }
    }

    .li--before {
      display: flex;
      gap: 19px;
    }
  }
}
