
    <section class="hero--color__container">
        <div class="container__texte">
            <div class="title-container">
                <h2 class="font-sophillia">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="hero--color__ctas-container @@class-cta">
            <a href="@@link1" class="cta--hero font-barlow">
                @@text-link1
            </a>
            <a href="@@link2" class="cta--hero font-barlow">
                @@text-link2
            </a>
        </div>
    </section>
    <section class="hero--color__picture">
        <!-- <picture>
            <source srcset="images/assets/nom_du_dossier/nom_du_fichier_push_hero_desk.webp?$staticlink$" media="(min-width: 1023px)" />
            <source srcset="images/assets/nom_du_dossier/nom_du_fichier_push_hero_tab.webp?$staticlink$" media="(min-width: 767px)" />
            <img src="images/assets/nom_du_dossier/nom_du_fichier_push_hero_mob.webp?$staticlink$" alt="@@alt" />
        </picture> -->
        <picture>
            <source srcset="@@lien-img-desk" media="(min-width: 1023px)" />
            <source srcset="@@lien-img-tab" media="(min-width: 767px)" />
            <img src="@@lien-img-mob" alt="@@alt" />
        </picture>
    </section>
