$color-text: #000;
$color-bg: #014433;
$color-text-push: #000;
$color-text-homepromo: #fff;

.flash_sale_push_2024 {
    width: 100%;
    margin-block: 5px;

    @include min1024() {
        margin-block: 10px;
    }
}

.flash_sale_hero_2024,
.flash_sale_homepromo_2024 {
    width: 100%;
}

.flash_sale_homepromo_2024 {
    @include min1024() {
        width: 50%;
    }
}

.hero {
    width: 100%;
    height: 100%;
    position: relative;

    picture {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1rem 3rem;

        @include min768() {
            padding: .8rem 2.3rem 3rem;
        }

        @include min1024() {
            padding: 1.2rem 2.6rem 3rem;
            justify-content: flex-start;
        }

        @include min1440() {
            padding: 2.5rem 5rem 4.5rem;
        }

        @include min1920() {
            padding: 5.5rem 5.5rem 11.5rem;
        }

        .texte-container {
            display: flex;

            @include min768() {
                width: 460px;
            }

            @include min1024() {
                height: 100%;
                justify-content: space-between;
            }

            @include min1440() {
                width: 515px;
            }

            @include min1920() {
                width: 600px;
            }

            .title-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;

                h2,
                h3 {
                    color: $color-text;
                }

                h2 {
                    font-size: 1.5rem;
                    text-align: left;
                    line-height: 1.1;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    font-weight: 700;

                    @include min768() {
                        font-size: 40px;
                    }

                    @include min1024() {
                        font-size: 37px;
                    }

                    @include min1440() {
                        font-size: 3rem;
                    }
                }

                h3 {
                    text-transform: none;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 0.325px;
                    text-align: left;
                    line-height: 1.2rem;

                    .reduction__texte {
                        background-color: #93173B;
                        color: white;
                        font-weight: 700;
                        padding: .2rem;
                    }

                    @include min768() {
                        font-size: 20px;
                        line-height: 1.5rem;
                    }

                    @include min1440() {
                        width: auto;
                    }
                }
            }
        }

        .ctas-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            flex-wrap: wrap;
            align-items: flex-start;

            @include min1024() {
                flex-direction: row;
            }

            .cta {
                margin-block: 0;
                width: auto;
                line-height: 10px;
                background-color: #141414;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                text-transform: uppercase;
                padding: 15px 25px;
                border: 1px solid #fff;
                transition: .2s ease-in;


                @include min768() {
                    padding: 15px 20px;
                    font-size: 1rem;
                    line-height: 13px;
                }

                @include min1024() {
                    font-size: 18px;
                }

                &:hover {
                    background-color: #fff;
                    color: #141414;
                }
            }
        }
    }

}

.push {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
        .text .cta {
            text-decoration: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;

            @include min768() {
                object-position: right
            }

            @include min1024() {
                object-position: center
            }
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5rem .5rem;

        @include min1024() {
            padding: 1.5rem 1rem;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .3rem;
            text-transform: uppercase;

            @include min1024() {
                gap: .5rem;
            }

            h2,
            h3 {
                color: $color-text-push;
            }

            h2 {
                font-size: 21px;
                margin-bottom: 0;
                line-height: 1.1;
                font-weight: 700;
            }

            h3 {
                text-transform: none;
                font-size: .9rem;
                letter-spacing: normal;
                margin-bottom: 0;
                line-height: 1.15;
                font-weight: 500;
                .reduction__texte {
                    background-color: #93173B;
                    color: white;
                    font-weight: 700;
                    padding: .2rem;
                }


                @include min1024() {
                    font-size: 1rem;
                }

            }
        }

        .cta {
            text-decoration: underline;
            font-size: .9rem;
            font-weight: 600;
            color: $color-text-push;

            @include min1024() {
                font-size: 1rem;
            }
        }
    }

}
