.test_countries_2024 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 4rem;
    background-color: rgb(245, 245, 245);
}
.search-bar {
    h2 {
        text-align: center;
        text-transform: none;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .search-input__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            border: none;
            width: 500px;
            &:focus {
                outline: none;
            }
        }
        background-color: white;
        border: 1.5px solid grey;
        border-radius: 1rem;
        padding: .7rem 1.5rem;
    }
}