$color-text: #fff;
$color-bg: #E53150;

.soldes_ete_push_2024 {
    width: 100%;
    margin-block: 5px;

    @include min1024() {
        margin-block: 10px;
    }
}


.soldes_ete_hero_2024,
.soldes_ete_homepromo_2024 {
    width: 100%;
}

.soldes_ete_homepromo_2024 {
    @include min1024() {
        width: 50%;
    }
}

.hero {
    display: flex;
    background-color: $color-bg;

    &__picture {
        display: flex;
        width: 45.15%;

        @include min768() {
            width: 46%;
        }
        @include min1024() {
            width: 50%;
        }

        picture {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 54.85%;
        gap: 32px;
        &.highlight--gap {
            gap: 16px;
        }

        @include min768() {
            width: 54%;
        }

        @include min1024() {
            width: 50%;
            padding-block: 0;
        }

        .container__texte {
            @include min1440() {
                width: 70%;
            }
            @include min1440() {
                width: 60%;
            }

            .title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: .5rem;
                @include min1440() {
                    gap: 1rem;
                }
            }
            

            h2,
            h3, h4 {
                color: $color-text;
                margin-bottom: 0;
                text-align: center;
            }

            h2 {
                text-transform: uppercase;
                font-size: 40px;
                line-height: 36px;
                font-weight: 700;
                margin-bottom: 0;

                &.font-barlow {
                    text-transform: uppercase;
                    font-weight: 700;
                }

                @include min768() {
                    line-height: auto;
                    margin-bottom: .5rem;
                    font-size: 56px;
                }
                @include min1920() {
                    font-size: 72px;
                }
            }
            .highlight {
                margin-bottom: .3rem;
                font-weight: 700;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                &.highlight--de {
                    width: 100%;
                    background: none;
                    @include min768() {
                        flex-direction: column;
                    }
                    @include min1440() {
                        flex-direction: row;
                    }
                    &.highlight--int {
                        @include min1440() {
                            width: 538px;
                        }
                    }
                    @include min1440() {
                        width: 650px;
                        gap: 0;
                        background-color: #fff;
                    }
                    .highlight__mobile {
                        width: 100%;
                        font-size: .8rem;
                    }
                    .highlight__desktop {
                        width: 100%;
                        font-size: .8rem;
                    }
                    .container-highlight--de {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: .2rem;
                        background-color: #fff;
                        padding-inline: .3rem;
                        @include min1440() {
                            background: none;
                            width: auto;
                        }
                    }
                    .reste-phrase {
                        background-color: #fff;
                        padding-inline: .3rem;
                        @include min1440() {
                            background: none;
                            padding: 0;
                        }
                    }
                    @include min1024() {
                        font-size: 20px;
                    }
                }
                @include min768() {
                    background-color: #fff;
                    color: #000;
                    margin-bottom: 1rem;
                    flex-wrap: wrap;
                    gap: .5rem;
                    padding-inline: .5rem;
                    margin-bottom: 0;
                }
                @include min1024() {
                    font-size: 24px;
                    margin-bottom: 0;
                }
                @include min1440() {
                    width: 457px;
                    flex-wrap: nowrap;
                }
                &__rotate {
                    padding: .3rem;
                    transform: rotate(-8deg);
                    background-color: #000;
                    color: #fff;
                }
                &__mobile {
                    width: 130px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    background-color: #fff;
                    color: #000;
                    padding-inline: 5px;
                    &.highlight__mobile--two {
                        width: auto;
                        padding: 0;
                    }
                }
            }

            h3 {
                text-transform: none;
                letter-spacing: normal;
                font-size: 24px;
                line-height: 19.2px;
                font-weight: 700;
                padding: 10px;
                margin-bottom: .3rem;
                @include min1024() {
                    font-size: 2rem;
                    margin-bottom: .5rem;
                }
            }
            .reduction {
                &__texte {
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 1rem;
                    margin-bottom: .3rem;
                    color: $color-text;
                    @include min1024() {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                }

                &__number {
                    font-weight: 800;
                    font-size: 2rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                    color: $color-text;
                    @include min768() {
                        font-size: 2.5rem;
                        line-height: 2.5rem;
                    }
                    @include min1920() {
                        font-size: 3.5rem;
                        line-height: 3.5rem;
                    }
                    &--it {
                        font-size: 1.3rem;
                        line-height: 1.3rem;
                        @include min768() {
                            font-size: 2rem;
                            line-height: 2rem;
                        }
                        @include min1920() {
                            font-size: 2.5rem;
                            line-height: 2.5rem;
                        }
                    }
                }
            }

            h4 {
                text-transform: none;
                letter-spacing: normal;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 0;
                @include min768() {
                    width: 293px;
                    font-size: 1.2rem;
                }
                @include min1024() {
                    width: 360px;
                    font-size: 1.4rem;
                }
                @include min1920() {
                    width: 370px;
                }
            }
        }

        .hero__ctas-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            @include min1024() {
                flex-direction: row;
            }

            &.hero__ctas-container--4-ctas {
                @include min1024() {
                    flex-wrap: wrap;
                }

                @include min1440() {
                    width: 500px;
                }
            }

            &.hero__ctas-container--4-ctas-it {
                @include min1024() {
                    flex-wrap: wrap;
                }

                @include min1440() {
                    width: 445px;
                }
            }

            .cta--hero {
                background-color: #1C1C1B;
                line-height: 10px;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                padding: 12px;
                border: 1px solid #fff;
                transition: .2s ease-in;
                margin-bottom: 0;

                @include min768() {
                    padding: 15px 20px;
                    font-size: 1rem;
                    line-height: 13px;
                }

                @include min1024() {
                    font-size: 18px;
                }

                &:hover {
                    background-color: #fff;
                    color: #1C1C1B;
                }
            }
        }
    }
}

.push {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $color-bg;

    @include min768() {
        height: 461px;
    }

    @include min1024() {
        height: 507px;
    }

    @include min1440() {
        height: 510px;
    }

    &__picture {
        height: 45%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text {
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;

        @include min768() {
            line-height: 1rem;
            font-size: 1rem;
        }

        .text__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .3rem;

            @include min768() {
                gap: .6rem;
            }

            h2,
            h3,
            .reduction__texte,
            .reduction__number {
                color: $color-text;
                text-align: center;
                margin-bottom: 0;
            }

            .reduction {
                &__texte {
                    font-size: .9rem;
                    line-height: .9rem;
                    font-weight: 600;
                    color: $color-text;
                    text-align: center;
                    @include min768() {
                        line-height: 1rem;
                        font-size: 1rem;
                    }
                }

                &__number {
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: 800;
                    text-transform: uppercase;
                    color: $color-text;
                    &.reduction__number--it {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
                }
            }

            .highlight {
                display: flex;
                justify-content: center;
                margin-bottom: 0;
                background-color: #fff;
                color: #000;
                font-weight: 700;
                padding-inline: .3rem;
                gap: .5rem;
                align-items: center;
                .rotate {
                    transform: rotate(-8deg);
                    padding: .2rem;
                    background-color: #000;
                    color: #fff;
                }
            }

            h2 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 32px;
                line-height: 38px;
                margin-inline: 1.3rem;
                
                &.font-barlow {
                    text-transform: uppercase;
                    font-weight: 700;
                }
                @include max375() {
                    margin-inline: .5rem;
                }

            }

            h3 {
                font-weight: 700;
                text-transform: none;
                letter-spacing: normal;
                line-height: 28.8px;
                font-size: 24px;
                margin-inline: 1.2rem;
                @include max375() {
                    margin-inline: .5rem;
                }

                @include min768() {
                    margin-inline: .5rem;
                }
            }
            h4 {
                color: #fff;
                font-size: .9rem;
                text-align: center;
                margin-bottom: 0;
                letter-spacing: 0.32px;
                line-height: 1.1rem;
                @include min768() {
                    font-size: 1rem;
                    line-height: auto;
                }
            }
        }

        .text__cta-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include min768() {
                gap: .5rem;
            }

            .cta--push {
                font-size: .9rem;
                color: $color-text;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }

                @include min768() {
                    font-size: 1rem;
                }
            }
        }
    }
}

.homepromo {
    height: 300px;
    display: flex;
    position: relative;

    @media screen and (min-width:652px) {
        height: 400px;
    }

    @include min1024() {
        width: 100%;
        flex-direction: column-reverse;
    }

    @media screen and (min-width:1650px) {
        flex-direction: row;
    }

    &__content {
        padding-inline: 2.45rem;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media screen and (min-width:652px) {
            position: static;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5rem;
            width: 50%;
            height: 100%;
            background-color: $color-bg;
            padding-bottom: 0;
            padding-top: 3rem;
        }

        @include min768() {
            padding: 2.5rem 2.3rem 0;
        }

        @include min1024() {
            width: 100%;
            padding: .6rem 1.5rem 0;
        }

        @include min1440() {
            padding: .8rem 1.5rem 0;
        }

        @media screen and (min-width:1650px) {
            width: 50%;
            padding: 3.7rem 2rem 0;
        }


        h2.title--st-valentin,
        h3.subtitle--st-valentin {
            display: none;

            @media screen and (min-width:652px) {
                margin-bottom: 0;
                text-align: left;
                letter-spacing: normal;
                display: block;
                color: $color-text;
            }
        }

        .title--st-valentin {
            line-height: 1em;
            font-weight: 600;
            text-transform: none;

            @media screen and (min-width:652px) {
                font-size: 1.85rem;
            }

            @include min1440() {
                font-size: 2rem;
            }

            @media screen and (min-width:1650px) {
                font-size: 2.3rem;
            }

            @include min1920() {
                font-size: 2.5rem;
            }
        }

        .subtitle--st-valentin {
            font-weight: 400;
            font-size: 1.38rem;
            line-height: 1.38rem;
            text-transform: none;
        }

        .cta {
            width: 100%;
            background-color: #000;
            padding: 12px;
            border: 1px solid #fff;
            color: #fff;
            font-size: .8125rem;
            font-weight: 600;
            text-transform: uppercase;
            z-index: 2;

            @media screen and (min-width:500px) {
                padding: 5px;
            }

            @media screen and (min-width:652px) {
                letter-spacing: normal;
                font-size: 1.4rem;
                text-decoration: underline;
                background-color: transparent;
                padding: 0;
                font-weight: 500;
                border: none;
                text-transform: none;
                width: auto;
                margin: 0;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        @media screen and (min-width:652px) {
            width: 50%;
        }

        @include min1024() {
            width: 100%;
            height: 225px;
        }

        @media screen and (min-width:1650px) {
            width: 50%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}