$color-text-hero: #FFD79C;
$color-bg: #353C58;
$color-text-push: #E5C97F;
$color-text-homepromo: #FFD79C;

.tsarevna_push_2024 {
    width: 100%;
    margin-block: 5px;

    @include min1024() {
        margin-block: 10px;
    }
}

.tsarevna_hero_2024,
.tsarevna_homepromo_2024 {
    width: 100%;
}

.tsarevna_homepromo_2024 {
    @include min1024() {
        width: 50%;
    }
}

.hero--visuel {
    width: 100%;
    height: 100%;
    position: relative;

    picture {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__container {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 3rem;

        @include min768() {
            padding: .8rem 2.3rem 3rem;
        }

        @include min1024() {
            padding: 1.2rem 2.6rem 3rem;
            justify-content: flex-start;
        }

        @include min1440() {
            padding: 2.5rem 5rem 4.5rem;
        }

        @include min1920() {
            padding: 5.5rem 5.5rem 11.5rem;
        }

        .texte-container {
            display: flex;

            @include min768() {
                width: 460px;
            }

            @include min1024() {
                height: 100%;
                width: 100%;
                justify-content: space-between;
            }

            .title-container {
                display: flex;
                flex-direction: column;
                // align-items: flex-start;
                align-items: center;
                gap: .5rem;

                h2,
                h3,
                h4 {
                    color: $color-text-hero;
                }

                h2 {
                    font-size: 1.5rem;
                    text-align: left;
                    line-height: 1.1;
                    margin-bottom: 0;

                    @include min768() {
                        font-size: 40px;
                    }

                    @include min1024() {
                        font-size: 37px;
                    }

                    @include min1440() {
                        font-size: 3rem;
                    }
                    &.font-barlow {
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }

                h3 {
                    text-transform: none;
                    font-size: 1rem;
                    font-weight: 600;
                    letter-spacing: 0.325px;
                    text-align: left;
                    line-height: 1.2rem;

                    @include min768() {
                        font-size: 20px;
                        line-height: 1.5rem;
                    }

                    @include min1440() {
                        width: auto;
                    }
                }

                h4 {
                    font-weight: 400;
                    text-transform: none;
                    font-size: 1rem;
                    line-height: 19.2px;
                    text-align: left;
                }
            }
        }

        .ctas-container {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            flex-wrap: wrap;
            align-items: flex-start;

            @include min1024() {
                flex-direction: row;
            }

            .cta {
                margin-block: 0;
                width: auto;
                line-height: 10px;
                background-color: #141414;
                color: #fff;
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                text-transform: uppercase;
                padding: 15px 25px;
                border: 1px solid #fff;
                transition: .2s ease-in;


                @include min768() {
                    padding: 15px 20px;
                    font-size: 1rem;
                    line-height: 13px;
                }

                @include min1024() {
                    font-size: 18px;
                }

                &:hover {
                    background-color: #fff;
                    color: #141414;
                }
            }
        }
    }

    .pastille {
        position: absolute;
        top: 35%;
        right: 10.6%;
        width: 65px;

        @include min425() {
            width: 90px;
        }
    }

}

.hero--color {
    display: flex;
    background-color: $color-bg;

    &__picture {
        display: flex;
        width: 45.15%;
        position: relative;

        @include min768() {
            width: 54.5%;
        }
        @include min1024() {
            width: 60%;
        }

        picture {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .pastille {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 90px;

        @include min1024 {
            top: 20%;
            right: 16%;
            width: 100px;
        }

        @include min1440 {
            width: 110px;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 54.85%;

        @include min768() {
            width: 45.5%;
        }

        @include min1024() {
            width: 40%;
        }

        .container__texte {
            gap: .5rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            margin-inline: 1rem;

            @include min768() {
                margin-inline: 2rem;
                margin-bottom: 2.5rem;
            }

            @include min1024() {
                margin-bottom: 2rem;
            }
            @include min1440() {
                margin-bottom: 4rem;
                width: 70%;
            }
            @include min1440() {
                width: 60%;
            }
            

            h2,
            h3 {
                color: $color-text-hero;
                margin-bottom: 0;
                text-align: center;
            }

            h2 {
                // text-transform: uppercase;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: .5rem;

                &.font-barlow {
                    text-transform: uppercase;
                    font-weight: 700;
                }

                @include min768() {
                    margin-bottom: 1rem;
                    font-size: 2rem;
                }

                @include min1024() {
                    font-size: 2rem;
                }
            }

            h3 {
                text-transform: none;
                letter-spacing: normal;
                font-size: 1rem;
                line-height: 1.3rem;
                font-weight: 500;

                @include min1024() {
                    font-size: 20px;
                    line-height: 1.5rem
                }
            }
        }

        .hero__ctas-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            @include min1024() {
                flex-direction: row;
            }

            &.hero__ctas-container--4-ctas {
                @include min1024() {
                    flex-wrap: wrap;
                }

                @include min1440() {
                    width: 500px;
                }
            }

            &.hero__ctas-container--4-ctas-it {
                @include min1024() {
                    flex-wrap: wrap;
                }

                @include min1440() {
                    width: 445px;
                }
            }
        }
    }
}


.cta--hero {
    background-color: #1C1C1B;
    line-height: 10px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid #fff;
    transition: .2s ease-in;

    @include min768() {
        padding: 15px 20px;
        font-size: 1rem;
        line-height: 13px;
    }

    @include min1024() {
        font-size: 18px;
    }

    &:hover {
        background-color: #fff;
        color: #1C1C1B;
    }
}

.push {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
        .text .cta {
            text-decoration: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;

            @include min768() {
                object-position: right
            }

            @include min1024() {
                object-position: center
            }
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5rem .5rem;

        @include min1024() {
            padding: 1.5rem 1rem;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .3rem;

            @include min1024() {
                gap: .5rem;
            }

            .pastille--new {
                height: 25px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            h2,
            h3,
            h4 {
                color: $color-text-push;
            }

            h2 {
                font-size: 21px;
                margin-bottom: 0;
                line-height: 1.1;
                &.font-barlow {
                    font-weight: 700;
                    // text-transform: uppercase;
                }
            }

            h3 {
                text-transform: none;
                font-size: .9rem;
                letter-spacing: normal;
                margin-bottom: 0;
                line-height: 1.15;
                font-weight: 500;

                @include min1024() {
                    font-size: 1rem;
                }

            }
            h4 {
                font-size: 14px;
                font-weight: 500;
                line-height: 16.8px;
            }
        }

        .cta {
            text-decoration: underline;
            font-size: .9rem;
            font-weight: 600;
            color: $color-text-push;

            @include min1024() {
                font-size: 1rem;
            }
        }
    }

    .pastille {
        position: absolute;
        top: 38%;
        right: 10%;
        width: 65px;
    }

}


.homepromo {
    height: 300px;
    display: flex;
    position: relative;

    @media screen and (min-width:652px) {
        height: 400px;
    }

    @include min1024() {
        width: 100%;
        flex-direction: column-reverse;
    }

    @media screen and (min-width:1650px) {
        flex-direction: row;
    }

    &__content {
        padding-inline: 2.45rem;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @media screen and (min-width:652px) {
            position: static;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5rem;
            width: 50%;
            height: 100%;
            background-color: $color-bg;
            padding-bottom: 0;
            padding-top: 3rem;
        }

        @include min768() {
            padding: 2.5rem 2.3rem 0;
        }

        @include min1024() {
            width: 100%;
            padding: .6rem 1.5rem 0;
        }

        @include min1440() {
            padding: .8rem 1.5rem 0;
        }

        @media screen and (min-width:1650px) {
            width: 50%;
            padding: 3.7rem 2rem 0;
        }


        h2.title--custom,
        h3.subtitle--custom {
            display: none;

            @media screen and (min-width:652px) {
                margin-bottom: 0;
                text-align: left;
                letter-spacing: normal;
                display: block;
                color: $color-text-homepromo;
            }
        }

        .title--custom {
            line-height: 1em;
            font-weight: 600;
            text-transform: none;

            @media screen and (min-width:652px) {
                font-size: 1.85rem;
            }

            @include min1440() {
                font-size: 2rem;
            }

            @media screen and (min-width:1650px) {
                font-size: 2.3rem;
            }

            @include min1920() {
                font-size: 2.5rem;
            }
        }

        .subtitle--custom {
            font-weight: 400;
            font-size: 1.38rem;
            line-height: 1.38rem;
            text-transform: none;
        }

        .cta {
            width: 100%;
            background-color: #000;
            padding: 12px;
            border: 1px solid #fff;
            color: #fff;
            font-size: .8125rem;
            font-weight: 600;
            text-transform: uppercase;
            z-index: 2;

            @media screen and (min-width:500px) {
                padding: 5px;
            }

            @media screen and (min-width:652px) {
                color: $color-text-homepromo;
                letter-spacing: normal;
                font-size: 1.4rem;
                text-decoration: underline;
                background-color: transparent;
                padding: 0;
                font-weight: 500;
                border: none;
                text-transform: none;
                width: auto;
                margin: 0;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        @media screen and (min-width:652px) {
            width: 50%;
        }

        @include min1024() {
            width: 100%;
            height: 225px;
        }

        @media screen and (min-width:1650px) {
            width: 50%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}